*{
    background-color: black;
    padding: 0%;
    margin: 0%;
}
h1{
    color: gold;
    margin-top: 10px;
}
h2{
    color: whitesmoke;
    margin-top: 5px;
}
h3{
    font-size: 50px;
    color: whitesmoke;
    margin-bottom: 20px;
}
h4{
    margin-left: 5px;
    font-size: 35px;
    color: whitesmoke;
}
h4 > p{
    font-size: 28px;
    color: white;
    margin-left: 10px;
}
p{
    color: white;
    font-size: 28px;
    margin-left: 100px;
}
img{
    border: solid 25px whitesmoke;
}